FORMAT: 1A
HOST: http://spacecowboys.me/api/v1/

# Space Cowboys

Space Cowboys is an API allowing users to get information about various celestial objects.
For all of these objects, you can retrieve the full collection of each or retrieve an indivpidual object by pid or name.


## Satellites [/satellites]

### Retrieve a Satellite by ID [GET /satellites/{pid}]

+ Parameters
    + pid: 1 (number, required) - pID of the Satellite in the form of an integer
    
+ Response 200 (application/json)

    + Attributes (Satellite)

    + Headers

            Location: /satellites/1

### Retrieve Collection of Satellites [GET /satellites{?results_per_page}{?page}]
+ Parameters
    + results_per_page (number, optional) - The maximum number of results to return per page.
        + Default: `9`
    + page (number, optional) - The number of the page to return
        + Default: `1`
        
+ Response 200 (application/json)

    + Attributes (Collection Response)
        + objects (array)
            + (Satellite)
            + (Satellite)
                + pid : 2
    
    + Headers
    
            Location: /satellites?results_per_page=9&page=1
            
### Filtering and Ordering Collections [GET /satellites{?q}]

+ Parameters
    + q: `{"order_by":[{"field":"name","direction":"desc"}],"filters":[{"name":"name","op":"==","val":"SARAL"}]}` - A flask restless query string
        + Valid Operators
            + `==`
            + `!=`
            + `<`
            + `>`
            + `<=`
            + `>=`
        + field and name refers to the model attribute to make the query on.
        + Valid directions
            + `desc`
            + `asc`
            
+ Response 200 (application/json)

    + Attributes (Collection Response)
        + objects (array)
            + (Satellite)


## Planets [/planets]

### Retrieve a Single Planet by ID [GET /planets/{pid}]

+ Parameters
    
    + pid: 1 (number, required) - The primary id of the planetoid

+ Response 200 (application/json)

    + Attributes (Planet)

    + Headers

            Location: /planets/1


### Retrieve Collection of Planets [GET /planets{?results_per_page}{?page}]

+ Parameters

    + results_per_page (number, optional) - The maximum number of results to return.
        + Default: `9`
    + page (number, optional) - The number of the page to return

+ Response 200 (application/json)
    + Attributes (Collection Response)
        + objects (array)
            + (Planet)
            + (Planet)
                + pid: 2
    + Headers
    
            Location: /planets?results_per_page=2&page=1


### Filtering and Ordering Collections [GET /planets{?q}]

+ Parameters
    + q: `{"order_by":[{"field":"name","direction":"desc"}],"filters":[{"name":"name","op":"==","val":"Earth"}]}` - A flask restless query string
        + Valid Operators
            + `==`
            + `!=`
            + `<`
            + `>`
            + `<=`
            + `>=`
        + field and name refers to the model attribute to make the query on.
        + Valid directions
            + `desc`
            + `asc`
            
+ Response 200 (application/json)

    + Attributes (Collection Response)
        + objects (array)
            + (Planet)


## Stars [/stars]

### Retrieve a Single Star by ID [GET /stars/{pid}]

+ Parameters 

    + pid: 1 (number, required) - The primary id of the star

+ Response 200 (application/json)

    + Attributes (Star)
    
    + Headers
    
            Location: /stars/1


### Retrieve Collection of Stars [GET /stars{?results_per_page}{?page}]

+ Parameters

    + results_per_page (number, optional) - The maximum number of results to return.
        + Default: `9`
    + page (number, optional) - The number of the page to return

+ Response 200 (application/json)
    
    + Attributes (Collection Response)
        + objects (array)
            + (Star)
            + (Star)
                + pid : 1
    
    + Headers
    
            Location: /stars?results_per_page=2&page=1


### Filtering and Ordering Collections [GET /stars{?q}]

+ Parameters
    + q: `{"order_by":[{"field":"name","direction":"desc"}],"filters":[{"name":"name","op":"==","val":"Sun"}]}` - A flask restless query string
        + Valid Operators
            + `==`
            + `!=`
            + `<`
            + `>`
            + `<=`
            + `>=`
        + field and name refers to the model attribute to make the query on.
        + Valid directions
            + `desc`
            + `asc`
            
+ Response 200 (application/json)

    + Attributes (Collection Response)
        + objects (array)
            + (Star)


## Galaxy by ID [/galaxies]

### Retrieve a Single Galaxy by ID [GET /galaxies/{pid}]

+ Parameters 
    
    + pid: 1 (number, required) - The primary id of the galaxy

+ Response 200 (application/json)

    + Attributes (Galaxy)

    + Headers

            Location: /galaxies/1


### Retrieve Collections of Galaxies [GET /galaxies{?results_per_page}{?page}]

+ Parameters

    + results_per_page (number, optional) - The maximum number of results to return.
        + Default: `9`
    + page (number, optional) - The number of the page to return 

+ Response 200 (application/json)
    
    + Attributes (Collection Response)
        + objects (array)
            + (Galaxy)
            + (Galaxy)
                + pid : 2
    
    + Headers
    
            Location: /galaxies?results_per_page=2&page=1

### Filtering and Ordering Collections [GET /galaxies{?q}]

+ Parameters
    + q: `{"order_by":[{"field":"name","direction":"desc"}],"filters":[{"name":"name","op":"==","val":"Milky Way"}]}` - A flask restless query string
        + Valid Operators
            + `==`
            + `!=`
            + `<`
            + `>`
            + `<=`
            + `>=`
        + field and name refers to the model attribute to make the query on.
        + Valid directions
            + `desc`
            + `asc`
            
+ Response 200 (application/json)

    + Attributes (Collection Response)
        + objects (array)
            + (Galaxy)


## Data Structures

### Satellite (object)
+ pid: 1 (number)
+ name: SARAL (string)
+ info_url: https://en.wikipedia.org/wiki/SARAL
+ year_launched: 2013 (number)
+ mission_type: Planetary Science (string)
+ agency: Indian Space Research Organization (string)
+ planet_pid: 299 (number)
+ star_pid: 271 (number)
+ galaxy_pid: 143 (number)

### Planet (object)
+ pid: 1 (number)
+ name: `HAT-P-36 b` (string)
+ dec: 4.915352 (number)
+ ra: 188.266255 (number)
+ gravity: 0.0297185700606153 (number)
+ orbital_period: 1.327347 (number)
+ diameter: 2.826 (number)
+ temperature: 1823 (number)
+ mass: 1.85 (number)
+ star_pid: 230 (number)
+ galaxy_pid: 143 (number)

### Star (object)
+ pid: 2 (number)
+ name: `HAT P 33` (string)
+ dec: 26.426662 (number)
+ ra: 271.537705 (number)
+ temperature: 6065 (number)
+ mass: 1.22 (number)
+ diameter: 3.366 (number)
+ galaxy_pid: 143 (number)

### Galaxy (object)
+ pid: 1 (number)
+ name: `UGC 11693` (string)
+ dec: 37.884811 (number)
+ ra: 317.819183 (number)
+ morph_type: Spiral (string)
+ redshift: 0.027192 (number)
+ size: 1.227 (number)

### Collection Response (object)
+ num_results: 36
+ page : 1 
+ total_pages: 18
