html, body {
	height: 100%;
}
.navbar {
	margin-bottom: 0px;
}
.carousel,
.item{
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
.carousel-image {
	width: 100%;
  height: 100%;
}
.container {
	margin-top: 70px;
}