html, body {
	min-height: 100%;
	height: 100%;
}
body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
.mark, mark {
  background-color: yellow;
  padding: 0px;
  color: inherit;
}
inline {
  display: inline-block;
}

.navbar-default {
	background-color: #000;
	border-color: #1d1c23;
}
.navbar-default .navbar-brand {
	color: #dedada;
}
.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: #777;
}
.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.carousel,
.item{
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.content-container {
	margin-top: 50px;
	background-color: white;
	min-height: 100%;
}
/*.model-container {
	margin-top: 70px;
}*/
.about-image {
	min-width: 360px;
	max-width: 360px;
}
.service-box {
	min-height: 700px;
}
.container-fluid.model-container {
	padding-top: 70px;
}
.model-list-item {
	padding-bottom: 15px;
}
.page-item:hover {
	cursor: pointer;
}
.sort-filter-button {
	padding-top: 25px;
}
.form-control {
	padding: 5px;
}
.model-list-item {
	min-height: 500px;
}
#test-link {
	cursor: pointer;
}
.search-item {
  margin: 25px;
}
.search-button {
  height: 40px;
}
@media (max-width: 962px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-form{
  	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
  	margin-right: -15px;
  	margin-left: -15px;
  	padding: 10px 15px;

  }
  .input-group {
  	width: 100%;
  }
  .input-group-btn {
  	width: 1% !important;
  }
  .content-container {
	margin-top: 120px;
  }
}
@media (min-width: 1170px) {
  .container-fluid {
  	width: 1170px;
  }
}
@media (min-width: 970px) {
  .container-fluid {
  	width: 970px;
  }
}
/*
Used to see the borders of the grid

*{
	border: 1px solid red !important;
} */

/* =========================================================== 
Stars adapted from code by Nick Mkrtchyan found here: 
https://codepen.io/WebSonick/pen/vjmgu
=============================================================*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(/static/images/stars.png) repeat top left;
  z-index:-2;
}

.twinkling{
  background:transparent url(/static/images/twinkling.png) repeat top left;
  z-index:-1;

  -moz-animation:move-twink-back 1100s linear infinite;
  -ms-animation:move-twink-back 1100s linear infinite;
  -o-animation:move-twink-back 1100s linear infinite;
  -webkit-animation:move-twink-back 1100s linear infinite;
  animation:move-twink-back 1100s linear infinite;
}
