{% extends "base.html" %}
{% block content %}
<div class="container model-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>{{galaxy.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top:25px;">
      <img src="/static/images/{{galaxy.images}}"> 
    </div>
    <div class="col-md-6 text-center">
      <div class="col-md-12">
        <h3>Galaxy Type:</h3> 
        <p>{{galaxy.galaxy_type}}</p>
        <h3>Angular Size:</h3> 
        <p>{{galaxy.angular_size}}</p>
        <h3>Right Ascension:</h3> 
        <p>{{galaxy.right_ascension}}</p>
        <h3>Declination:</h3> 
        <p>{{galaxy.declination}}</p>
        <h3>Red Shift:</h3> 
        <p>{{galaxy.redshift}}</p>
        <h3>Planetoids:</h3> 
        <a href="{{galaxy.planetoid_bodies}}">Planetoids</a>
        <h3>Stars:</h3> 
        <a href="{{galaxy.stars}}">Stars</a>
        <h3>Satellites:</h3> 
        <a href="{{galaxy.satellites}}">Satellites</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}