{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
  	<div class="col-lg-12">
  		<h1>UGC 11693</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<img src="/static/images/UGC 11693.png"> 
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-6">Right Ascension</div>
  	<div class="col-md-6">Declination</div>
  </div>
  <div class="row">
  	<div class="col-md-6">317.819183</div>
  	<div class="col-md-6">37.884811</div>
  </div>   
  <div class="row">
  	<div class="col-md-6">Galaxy Type</div>
  	<div class="col-md-6">Red Shift</div>
  </div>
  <div class="row">
  	<div class="col-md-6">spiral</div>
  	<div class="col-md-6">0.093554</div>
  </div>  
   <div class="row">
  	<div class="col-md-6">Angular Size</div>
  </div>
  <div class="row">
  	<div class="col-md-6">1.227</div>
  </div>  
</div>
{% endblock %}