{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Galaxies</h1>
  <div class="row">
		<div class="col-md-2">Name</div>
    <div class="col-md-2">Right Ascension</div>
    <div class="col-md-2">Declination</div>
    <div class="col-md-2">Galaxy Type</div>
    <div class="col-md-2">Red Shift</div>
    <div class="col-md-2">Angular Size</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="UGC-11693">UGC 11693</a></div>
    <div class="col-md-2">317.819183</div>
    <div class="col-md-2">37.884811</div>
    <div class="col-md-2">spiral</div>
    <div class="col-md-2">0.093554</div>
    <div class="col-md-2">1.227</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="UGC-11693">UGC 11693</a></div>
    <div class="col-md-2">317.819183</div>
    <div class="col-md-2">37.884811</div>
    <div class="col-md-2">spiral</div>
    <div class="col-md-2">0.093554</div>
    <div class="col-md-2">1.227</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="UGC-11693">UGC 11693</a></div>
    <div class="col-md-2">317.819183</div>
    <div class="col-md-2">37.884811</div>
    <div class="col-md-2">spiral</div>
    <div class="col-md-2">0.093554</div>
    <div class="col-md-2">1.227</div>
  </div>
</div>
{% endblock %}
