{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
  	<div class="col-lg-12">
  		<h1>{{planetoid.name}}</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<img src="/static/images/{{planetoid.images}}"> 
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-4">Diameter</div>
  	<div class="col-md-4">Surface Temperatures</div>
  	<div class="col-md-4">Gravity</div>
  </div>
  <div class="row">
  	<div class="col-md-4">{{planetoid.diameter}}</div>
  	<div class="col-md-4">{{planetoid.surface_temperature}}</div>
  	<div class="col-md-4">{{planetoid.gravity}}</div>
  </div>   
  <div class="row">
  	<div class="col-md-4">Orbital Period</div>
    <div class="col-md-4">Orbiting Bodies</div>
    <div class="col-md-4">Mass</div>
  </div>
  <div class="row">
  	<div class="col-md-4">{{planetoid.orbital_period}}</div>
  	<div class="col-md-4">{{planetoid.orbiting_bodies}}</div>
  	<div class="col-md-4">{{planetoid.mass}}</div>
  </div>  
   <div class="row">
  	<div class="col-md-4">Satellites</div>
  	<div class="col-md-4">Right Ascension</div>
  	<div class="col-md-4">Declination</div>
  </div>
  <div class="row">
  	<div class="col-md-4">{{planetoid.satellites}}</div>
  	<div class="col-md-4">{{planetoid.right_ascension}}</div>
  	<div class="col-md-4">{{planetoid.declination}}</div>
  </div>  
</div>
{% endblock %}