{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
  	<div class="col-lg-12">
  		<h1>HAT-P-33 b</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<img src="/static/images/HAT-P-33 b.png"> 
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-4">Diameter</div>
  	<div class="col-md-4">Surface Temperatures</div>
  	<div class="col-md-4">Gravity</div>
  </div>
  <div class="row">
  	<div class="col-md-4">235739.892</div>
  	<div class="col-md-4">1782</div>
  	<div class="col-md-4">235739.892</div>
  </div>   
  <div class="row">
  	<div class="col-md-4">Orbital Period</div>
  	<div class="col-md-4">Orbiting Bodies</div>
  	<div class="col-md-4">Mass</div>
  </div>
  <div class="row">
  	<div class="col-md-4">235739.892</div>
  	<div class="col-md-4">1782</div>
  	<div class="col-md-4">1782</div>
  </div>  
   <div class="row">
  	<div class="col-md-4">Satellites</div>
  	<div class="col-md-4">Right Ascension</div>
  	<div class="col-md-4">Declination</div>
  </div>
  <div class="row">
  	<div class="col-md-4">235739.892</div>
  	<div class="col-md-4">1782</div>
  	<div class="col-md-4">1782</div>
  </div>  
</div>
{% endblock %}