{% extends "base.html" %}
{% block content %}
<div class="container model-container">
  <div class="row">
  	<div class="col-lg-12 text-center">
  		<h1>{{planetoid.name}}</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-6 text-center" style="padding-top:40px;">
  		<img src="/static/images/{{planetoid.images}}"> 
  	</div>
    <div class="col-md-6 text-center">
      <div class="col-md-12">
        <h3>Diameter:</h3> 
        <p>{{planetoid.diameter}}</p>
        <h3>Surface Temperatures:</h3> 
        <p>{{planetoid.surface_temperature}}</p>
        <h3>Right Ascension:</h3> 
        <p>{{planetoid.right_ascension}}</p>
        <h3>Declination:</h3> 
        <p>{{planetoid.declination}}</p>
        <h3>Mass:</h3> 
        <p>{{planetoid.mass}}</p>
        <h3>Gravity:</h3> 
        <p>{{planetoid.gravity}}</p>
        <h3>Orbital Period:</h3> 
        <p>{{planetoid.orbital_period}}</p>
        <h3>Orbiting Bodies:</h3> 
        <p>{{planetoid.orbiting_bodies}}</p>
        <h3>Satellites:</h3> 
        <a href="/satellites">{{planetoid.satellites}}</a>
      </div> 
      </div> 
    </div>
  </div>
</div>
{% endblock %}