{% extends "base.html" %}
{% block content %}
<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
        <h1 class="react-highlight">{{star.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div id="react-satellite" class="col-sm-12 col-md-5 col-md-offset-1 text-center" style="padding-top:25px;">
        <img class="img-thumbnail" style="width:400px;height:400px;" src="{{star.img_url}}"> 
    </div>
    <div class="col-sm-12 col-md-5 text-center">
      <div class="col-md-12">
        <h3>Temperature:</h3>
        <p class="react-highlight">{{star.temperature}} K</p>
        <h3>Mass:</h3>
        <p class="react-highlight">{{star.mass}} Solar Mass(es)</p>
        <h3>Right Ascension:</h3>
        <p class="react-highlight">{{star.ra}} Hour(s)</p>
        <h3>Declination:</h3>
        <p class="react-highlight">{{star.dec}} Degree(s)</p>
        <h3>Diameter:</h3>
        <p class="react-highlight">{{star.diameter}} Solar Diameter(s)</p>
        <h3><a href="/galaxies/{{star.galaxy_pid}}">Link to home Galaxy</a></h3>
        <h3><a href="/planets?filtered=true&v1=star_pid&v2=%3D%3D&v3={{star.pid}}" >Link to orbiting Planets</a></h3>
        <h3><a href="/satellites?filtered=true&v1=star_pid&v2=%3D%3D&v3={{star.pid}}" >Link to orbiting Satellites</a></h3>
      </div>  
	</div> 
  </div>
</div>
<script src="{{ url_for('static', filename='compiled_js/satellite.js') }}"></script>
<script src="{{ url_for('static', filename='compiled_js/model-highlight.js') }}"></script>
{% endblock %}
