{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Planetoids</h1>
  <div class="row">
		<div class="col-md-2">Name</div>
    <div class="col-md-2">Diameter</div>
    <div class="col-md-2">Temperatures</div>
    <div class="col-md-2">Mass</div>
    <div class="col-md-2">Distance</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="HAT-P-33">HAT-P-33</a></div>
    <div class="col-md-2">N/A</div>
    <div class="col-md-2">6446.0</div>
    <div class="col-md-2">1.38</div>
    <div class="col-md-2">Null</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="HAT-P-33">HAT-P-33</a></div>
    <div class="col-md-2">N/A</div>
    <div class="col-md-2">6446.0</div>
    <div class="col-md-2">1.38</div>
    <div class="col-md-2">Null</div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="HAT-P-33">HAT-P-33</a></div>
    <div class="col-md-2">N/A</div>
    <div class="col-md-2">6446.0</div>
    <div class="col-md-2">1.38</div>
    <div class="col-md-2">Null</div>
  </div>
</div>
{% endblock %}
