{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Planetoids</h1>
  <div class="row">
		<div class="col-md-2">Name</div>
    <div class="col-md-2">Diameter</div>
    <div class="col-md-2">Temperatures</div>
    <div class="col-md-2">Mass</div>
    <div class="col-md-2">Distance</div>
  </div>
  {% for s in star %}
  <div class="row">
    <div class="col-md-2"><a href="{{s.link}}">{{s.name}}</a></div>
    <div class="col-md-2">{{s.diameter}}</div>
    <div class="col-md-2">{{s.temperature}}</div>
    <div class="col-md-2">{{s.mass}}</div>
    <div class="col-md-2">{{s.distance}}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
