{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
  	<div class="col-lg-12">
  		<h1>{{star.name}}</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-lg-12">
  		<img src="/static/images/{{star.images}}"> 
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-6">Diameter</div>
  	<div class="col-md-6">Temperature</div>
  </div>
  <div class="row">
  	<div class="col-md-6">{{star.diameter}}</div>
  	<div class="col-md-6">{{star.temperature}}</div>
  </div>  
  <div class="row">
  	<div class="col-md-6">Right Ascension</div>
  	<div class="col-md-6">Declination</div>
  </div>
  <div class="row">
  	<div class="col-md-6">{{star.right_ascension}}</div>
  	<div class="col-md-6">{{star.declination}}</div>
  </div>   
  <div class="row">
  	<div class="col-md-6">Mass</div>
  	<div class="col-md-6">Distance</div>
  </div>
  <div class="row">
  	<div class="col-md-6">{{star.mass}}</div>
  	<div class="col-md-6">{{star.distance}}</div>
  </div>  
</div>
{% endblock %}
