{% extends "base.html" %}
{% block content %}
<div class="content-container container">
	<h1 class="text-center">Boswemian Visualizations</h1>
	<div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a visualization
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	        <li><a href="/visualization?graph=bubble_graph">Bubble Visualization of Albums</a></li>
	        <li><a href="/visualization?graph=adjacency_graph">Adjacency Matrix of Artists and Venues</a></li>
	        <li><a href="/visualization?graph=geo_map">Geographic Map for Concerts</a></li>
	    </ul>
	</div>
	<svg></svg>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v0.min.js"></script>
<script src="{{script}}"></script>
{% endblock %}